<!DOCTYPE html>
<!-- This is for using Thymeleaf -->


<head>
<meta charset="UTF-8">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Glycan Management System</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 

<!-- Compiled and minified JavaScript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

</head>

	<!-- <div id="loadingMask" onclick="return false;" style="width: 100%; height: 100%; position: absolute; background-color: rgba(0,0,0,0);"></div> -->
  <!--  <center> <img width="600px" height="300px" th:src="@{13682.png}"/> </center> , this is how to insert static.-->
<center><font size="+1"><a th:href="@{/GlycanDatabaseApp}"
                           class="blue-text">Back</a></font></center>
                           <center><h3>Glycan Management System</h3></center>
	<!-- The link which sends GET request to "/showNewGlycanForm"  -->

        <center><a th:href="@{/showNewGlycanForm}"
                   class="btn btn-success">Add New Glycan</a>
                

                   <a th:href="@{/GlycanDictionary}"
                      class="btn btn-primary">View Supported Glycan IDs</a>
                      
                      
                                         <a th:href="@{/uploadPage}"
                      class="btn btn-info">Upload CSV File</a>
                      
                      
                      <div class="mydelete">
					<a th:href="@{/deleteAll}"
                        data-confirm="Delete Glycan entries?" class="btn btn-danger">Delete All Entries</a>
                                                        </div>
            <br>
                <br>
                </br><!-- comment -->

    
            <form th:action="@{/MySQLTableForGlycansAndCCS/1}">
                <input type="hidden" name="sortField" th:value="${sortField}" />
                <input type="hidden" name="sortDir" th:value="${sortDir}" />
    Filter: <input type="text" name="keyword" id="keyword" autofocus style="text-align: center; width: 100%" placeholder="Type here to filter by values..." size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>
                      
                   <!--   <a th:href="@{/MyCSVUploadPage}"
                         class="btn btn-warning">Upload CSV</a> see the controller for mapping-->
                      
                              <div id="GlycanLoader">
                                  <br>
                                  </br>
        <img src="http://i.stack.imgur.com/FhHRx.gif"/> 
        <p> Generating Database...</p>
</div>
               
                  </center>




	<div align="left" style="margin-top: 20px">
		<table id="MyTable" class="table table-bordered border-primary">
			<thead>
				<tr>
                                    <th class="not_mapped_style" style="text-align:center">Glycan Image</th>
					<th class="not_mapped_style" style="text-align:center"><a th:href="@{'/MySQLTableForGlycansAndCCS/' + ${currentPage} + '?sortField=DatabaseID&sortDir=' + ${reverseSortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">database ID</a></th>
                                        <th class="not_mapped_style" style="text-align:center"><a th:href="@{'/MySQLTableForGlycansAndCCS/' + ${currentPage} + '?sortField=Oxford&sortDir=' + ${reverseSortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">Oxford</a></th>
					<th class="not_mapped_style" style="text-align:center"><a th:href="@{'/MySQLTableForGlycansAndCCS/' + ${currentPage} + '?sortField=NeutralMass&sortDir=' + ${reverseSortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">Neutral mass</a></th>
					<th class="not_mapped_style" style="text-align:center"><a th:href="@{'/MySQLTableForGlycansAndCCS/' + ${currentPage} + '?sortField=ObservedMZ&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Observed m/z</a></th>
                                        <th class="not_mapped_style" style="text-align:center"><a th:href="@{'/MySQLTableForGlycansAndCCS/' + ${currentPage} + '?sortField=CS_M_Plus_2H_Charge_2&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">CS [M+2H] charge 2</a></th>
					<th class="not_mapped_style" style="text-align:center"><a th:href="@{'/MySQLTableForGlycansAndCCS/' + ${currentPage} + '?sortField=ObservedMZ2&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Observed m/z 2</a></th>
					<th class="not_mapped_style" style="text-align:center"><a th:href="@{'/MySQLTableForGlycansAndCCS/' + ${currentPage} + '?sortField=CCS_M_Plus_H_Plus_Na_Charge_2&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">CCS [M+H+Na] charge 2</a></th>
					<th class="not_mapped_style" style="text-align:center">Update Entry</th>
					<th class="not_mapped_style" style="text-align:center">Delete Entry</th>
				</tr>
			</thead>
			<tbody>
			<!-- You can access model attributes which are added in a Controller(GlycanController.java) with ${attributeName}.
				 In this case, it is "${listGlycans}".
			     To show all glycans data in this table, you need to use "th:each" in the thymeleaf template and iterate the glycan of listGlycans -->	
                        <tr th:each="glycan: ${listGlycans}">
                            <td><img th:src="@{'/img/glycans/' + ${glycan.DatabaseID} + '.png'}" style="width: 150px" /></td> <!-- Dynamically displays image based on oxford number!, just match property to imgname in static, removed column glycan_photo from sql, add back if needed. -->
										<td th:text="${glycan.DatabaseID}"></td>
                            <td th:text="${glycan.Oxford}"></td>
					<td th:text="${glycan.NeutralMass}"></td>
                                        <td th:text="${glycan.ObservedMZ}"></td>
					<td th:text="${glycan.CS_M_Plus_2H_Charge_2}"></td>
					<td th:text="${glycan.ObservedMZ2}"></td>
                                        <td th:text="${glycan.CCS_M_Plus_H_Plus_Na_Charge_2}"></td>
					<td>
						<!-- The link which sends GET request to "/showFormForUpdate/{id}" (id is glycan.id) -->
                                                <div class="myupdate">
						<a th:href="@{/showGlycanFormForUpdate/{id}(id=${glycan.id})}"
							class="waves-effect waves-light btn">Update</a>
                                                </div>
					</td>
					<td>
						<!-- The link which sends GET request to "/delete/{id}" (id is glycan.id)  -->
                                                <div class="mydelete">
						<a th:href="@{/delete/{id}(id=${glycan.id})}"
							data-confirm="Delete Glycan entry?" class="waves-effect waves-light btn red litghten-2">Delete</a>
                                                        </div>
					</td>
				</tr>
                        </table>
			</tbody>
                    
                    	<div>&nbsp;</div>
	<!-- <div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div> -->
	<div>&nbsp;</div>
	<div th:if="${totalPages > 1}">
		Total Items: [[${totalItems}]]
		&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/MySQLTableForGlycansAndCCS/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/MySQLTableForGlycansAndCCS/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		
		&nbsp;&nbsp;
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/MySQLTableForGlycansAndCCS/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/MySQLTableForGlycansAndCCS/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/MySQLTableForGlycansAndCCS/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
	</div>
                    
	</div>
 
        <style>
            
            ::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}
            
table td 
{
  table-layout:fixed;
  width:60px;
  min-width:60px;
  max-width:60px;
  overflow:hidden;
  word-wrap:break-word;
}


            
            body
            {
                
                background-color: #ffff99;
            }
            img {
    transition:transform 0.25s ease;
}

    tr:hover td {
        background-color: #bddd9c;
    }

    
img:hover {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
    
td 
{
     text-align:center;
     z-index: 1;
}

    tr {
      background-color: #ffff99;
    }
    

    
        tr:hover img{
        background-color: #bddd9c;
            -webkit-transform:scale(1.05);
    transform:scale(1.05);
    }
    MyTable {
    table-layout: fixed;
    }
  	.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	.hoverTable td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
		background: #b8d1f3;
	}
	/* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: #bddd9c;
    }

.modal-body {
  top: 50px;
  right: 800px;
}

    .dataTables_filter {
        float: left !important;
    }
 
    .dataTables_filter input {
        width: 250px;
        height: 32px;
        background: #fcfcfc;
        border: 1px solid #aaa;
        border-radius: 5px;
        box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
        text-indent: 10px;
    }
 
    .dataTables_filter .fa-search {
        position: absolute;
        top: 10px;
        left: auto;
        right: 10px;
    }



        </style>
</body>

<br>
</br>
<script>
    
        function clearSearch() {
        window.location = "[[@{/MySQLTableForGlycansAndCCS}]]";
    }

$('body').on('dragstart drop', function(e){
    e.preventDefault();
    return false;
});

    
setTimeout(function() {
  $('#GlycanLoader').hide();
}, 2000);

        
$(document).ready(function() {
    
        $('a[data-confirm]').click(function(ev) {
        var href = $(this).attr('href');

        if (!$('#dataConfirmModal').length) {
            $('body').append('<div id="dataConfirmModal" style=width:250px;height:150px; class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div><br></br><center><p> Are you sure you want to delete? </p><a class="btn btn-primary" id="dataConfirmOK" onclick="$(this).prop("disabled",true)">Yes</a>  <button class="btn" data-dismiss="modal" aria-hidden="true">No</button></center></div>');
        } 
        $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm')); // not needed for some reason
        $('#dataConfirmOK').attr('href', href); // must be present for refresh
        $('#dataConfirmModal').modal({show:true}); // allows href to work (delete all enttry red button)
        return false; // allows href to work
        
        
        
    });
    

    
});


</script>
</html>
