<!DOCTYPE html>
<!-- This is for using Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Glycan Management System</title>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="max-width: 960px; margin: 16px auto; padding: 16px">
	<h3>Update Glycan</h3>

	<!-- The th:action="@{/saveGlycan}" expression directs the form to POST to the /saveGlycan endpoint.
		 The th:object="${glycan}" expression declares the model object to use for collecting the form data.
		 The three form fields, expressed with th:field, correspond to the fields in the Glycan object. -->
	<form th:action="@{/saveGlycan}" th:object="${glycan}" method="post">
		<div class="row">
		<input type="hidden" id="id"
                       th:field="*{id}">
		

                                                   <div class="input-field col s6">
                        <input id="databaseID" type="text" class="validate"
                               th:field="*{databaseID}"> <label for="databaseID">database ID</label>
                    </div>
                    			<div class="input-field col s6">
 
				<input id="oxford" type="text" class="validate"
					th:field="*{oxford}"> <label for="oxford">oxford</label>
			</div>
       
                    <div class="input-field col s6">
                        <input id="neutralmass" type="text" class="validate" 
                               th:field="*{neutralmass}"> <label for="neutralmass">Neutral mass</label>
                    </div> 
                    <div class="input-field col s6">
                        <input id="observedmz" type="text" class="validate" 
                               th:field="*{observedmz}"> <label for="observedmz">Observed m/z</label>
                    </div> 
                    <div class="input-field col s6">
                        <input id="ccs1" type="text" class="validate" 
                               th:field="*{ccs1}"> <label for="ccs1">CS [M+2H] charge 2</label>
                    </div> 
                    <div class="input-field col s6">
                        <input id="observedmz2" type="text" class="validate" 
                               th:field="*{observedmz2}"> <label for="observedmz2">Observed m/z 2</label>
                    </div> 
                    <div class="input-field col s6">
                        <input id="ccs2" type="text" class="validate" 
                               th:field="*{ccs2}"> <label for="ccs2">CCS [M+H+Na] charge 2</label>
                    </div>  
		</div>

            <center><button type="submit" class="waves-effect waves-light btn">Update
                    Glycan</button></center>
	</form>
	<br>
	<!-- The link which sends GET request to "/"  -->
        <center><a th:href="@{/MySQLTableForGlycansAndCCS}"
                   class="blue-text">Back</a></center>
</body>
        <center>
                              <div id="modal">
                                  <br>
                                  </br>
        <img src="http://i.stack.imgur.com/FhHRx.gif"/> 
        <p> Linking Database...</p>
</div>
        </center>
    
        <style>
        body
        {
            background-color:#ffff99;
        }
        </style><!-- comment -->
<script>

setTimeout(function() {
  $('#modal').hide();
}, 2000);


    
</script>
    
</html>
